<!--button_open_popup-panel_with_auth_options-->
<button
  *ngIf="!user"
  id="sign_in-button-holder"
  mat-button
  (click)="openDialog()"
>
  Sign In
</button>
<!--template_for_popup-panel-->
<ng-template #sign_in_modal>
  <!--popup_with_auth_options-->
  <div class="auth_container">
    <div class="sign_in nav-box" *ngIf="!user">
      <!--auth_title-->
      <div class="sign_in title" mat-dialog-title>Sign In</div>
      <!--button_redirect_to_login_page_of_the_provider-->
      <button
        (click)="signIn('google')"
        mat-button
        type="button"
        class="btn btn-social-icon btn-google mx-1"
      >
        Signin with Google
      </button>
      <button
        (click)="signIn('aws')"
        mat-button
        type="button"
        class="btn btn-social-icon btn-aws mx-1"
      >
        Signin with Amazon
      </button>
      <button
        (click)="signIn('mcr')"
        mat-button
        type="button"
        class="btn btn-social-icon btn-mcr mx-1"
      >
        Signin with Microsoft
      </button>
    </div>
    <div mat-dialog-actions>
      <button class="modal_close" mat-button mat-dialog-close>Close</button>
    </div>
  </div>
</ng-template>
<!--User_info_received_from_provider-->
<div *ngIf="user" class="mt-4">
  <h3> Welcome {{user.displayName}}</h3>
 <p>token: {{user['_delegate'].accessToken}}</p>
 <p>Refresh token: {{user['_delegate'].stsTokenManager.accessToken}}</p>
  <button type="button" (click)="logout()" class="btn btn-primary">
    Log Out
  </button>
</div>
