
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.signin-dialog-container .mat-dialog-container {
    margin: 20px auto;
    border: 1px solid #777777;
    border-radius: 2px;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
}
